<div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 mx-auto text-center p-5">


  <i class="fas fa-solid fa-toggle-off"></i>
  <h1 class="text-white mb-5">You have the right to switch off.</h1>
  <div class="row justify-content-md-center mb-5">
    <div class="col">
      <i class="fas fa-solid fa-user mb-3"></i>
      {{#each users as | user |}}
      {{#if @last}}
      <h3 class="text-white text-center mb-3">
        You worked <span class="text-danger">{{numberWithCommas user.unpaidHours}}</span> hours of unpaid overtime and
        were underpaid <span class="text-danger">${{numberWithCommas user.unpaidSalary}}</span></h3>
      {{/if}}
      {{/each}}
    </div>
  </div>

  <div class="row justify-content-md-center mb-5">
    <div class="col">
      <i class="fas fa-solid fa-industry mb-3"></i>
      <h3 class="text-white text-center">
        In your industry
        <span class="text-danger">{{numberWithCommas totals.industry}}</span>,
        <span class="text-danger">{{numberWithCommas totals.total_submissions}}</span> people worked
        <span class="text-danger">{{numberWithCommas totals.total_unpaid_hours}}</span>
        unpaid hours, which totalled
        <span class="text-danger">${{numberWithCommas totals.total_unpaid_salary}}</span>
      </h3>
    </div>
  </div>

  <div class="row justify-content-md-center mb-5">
    <div class="col">
      <i class="fas fa-solid fa-users mb-3"></i>
      <h3 class="text-white text-center">
        <span class="text-danger">{{numberWithCommas totalNumber}}</span> people have used this calculator and have
        worked a total of
        {{#each users3 as | user |}}<span class="text-danger">{{numberWithCommas total_unpaid_hours}}</span>{{/each}}
        unpaid hours, which
        totalled <span
          class="text-danger">${{#each users4 as | user |}}{{ numberWithCommas total_unpaid_salary }}</span>
      </h3>{{/each}}
    </div>
  </div>

  

  <div class="row justify-content-md-center mb-5">
    <div class="col">
      <button type="submit" onclick="myFunction()" class="btn btn-danger">See by industry</button>
    </div>
  </div>
  <div id="industry" class="row justify-content-md-center">
    <div class="col">
      {{#each users2 as | user |}}
      <div class="card mb-3">
        <h5 class="card-header">{{industry}}</h5>
        <div class="card-body">
          <p class="card-title">Unpaid Hours: {{numberWithCommas total_unpaid_hours}}</p>
          <p class="card-title">Unpaid Salary: ${{numberWithCommas total_unpaid_salary}}</p>

        </div>
      </div>
      {{/each}}
    </div>
  </div>

  {{#if logged_in}}
 
  {{else}}
  <p class="text-white text-centre mt-5">If you are an admin you can login <a class="" href="/login">here</a></p>
  {{/if}}

  <script>
    function myFunction() {
      var x = document.getElementById("industry");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script>